<p>
  <strong>List:</strong>
  <%= @list.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @list.comment %>
</p>

<p>
  <strong>Items:</strong>
  <% @list.items.each do |item| %>
    <%= item.name %></br>
  <% end %>
</p>    


