<div class="form-inputs">
  
      <% @recipes.each do |recipe| %>
        </br> 
        <%= check_box_tag "menu[selected_recipes][]", recipe.id, @menu.recipes.compact.include?(recipe) %>

        <%= link_to recipe.name, recipe_path(recipe.id) %>
        </br>
        <div class="instructions">
        	<%= recipe.comment %>
        </div>
      <% end %>  

  </br>
  
  </div>


