<h1>Choose Recipes</h1>
<!-- We want Choose Recipes and Choose Items and Review Shopping List as tabs across the top all pages.
	-->

<%= link_to 'Choose Items', items_path, class: "btn btn-primary" %> 

<%#= link_to 'Review Shopping List', _path, class: "btn btn-primary" %> 

</br>
</br>

<% @recipes.each do | recipe | %>
  
  <%= check_box :recipe, :selected, {class: 'pull-left'} %>
  <h4>
    <%= recipe.name %>
  </h4>
<% end %>

</br>
</br>

<%= link_to 'Add a New Recipe', new_recipe_path, class: "btn btn-primary" %>




  