<h1>Recipes</h1>
<!-- We want Choose Recipes and Choose Items and Review Shopping List as tabs across the top all pages.
	-->
<% @recipes.each do | recipe | %>
  <h4>
    <%= link_to recipe.name, recipe_path(recipe) %>
  </h4>
<% end %>

</br>
<%= link_to 'Choose Items', items_path, class: "btn btn-primary" %> 

</br>
</br>

<%= link_to 'Add a New Recipe', new_recipe_path, class: "btn btn-primary" %>




  