<div class="jumbotron">
  <h1>Welcome to <br>simple shopping.</h1>
  <p class="lead">Writing shopping lists too tedious? <br>Just choose a recipe and OneList will do the hard work for you. <br> You won't remember how you ever wrote those silly lists before.</p>
  <a class="btn btn-large btn-success" href="/users/sign_up">Sign Up Today</a>
</div>