<h1>Items#index</h1>
<p>Find me in app/views/items/index.html.erb</p>
<!-- Code for 'Add an Item' button or link -->
<!-- This page will be a checklist of items so this page is 'step 2'
	for the user. At bottom will be 'Review Shopping List' option to go to
	final review of overall list before printing, list_item index -->
