// import the CSS framework
@import "bootstrap";
body {
  padding-top: 50px;
  background: url(background.png);
}
@import "bootstrap-responsive";

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Ubuntu', Georgia, Times, serif;
}

h1 { 
  text-shadow: 1px 1px 1px #ccc;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.content{
  background-color:rgba(255,255,255,0.80);
  padding: 10px;
  margin: 10px -20px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  hr {
    width: 100%;
  }
}

.navbar-simple{
  .brand {
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  font-size: 2em;
  font-family: Ubuntu;
  }
  .brand:hover{
    background: transparent;
  }
  
  .navbar-inner {
    background: #F6F8F8;
    filter: none !important;
    box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    .nav {
      float: right;
      li a {
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #777;
        font-size: 13px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-weight: 600;
      } 
      li a:hover {
          background: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          color: #bf3604;
      }  
      li.active a {
        color: #bf3604;
      }
    }
  }
}

.jumbotron {
  text-align: center;
  h1 {
    font-size: 5em;
    line-height: 1;
  }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  .symbol{
    font-size: 7em;
    line-height: 1;
    vertical-align: middle;
  }
  .center{
    display: block;
    margin-left: auto;
    margin-right: auto; 

  }
}

.marketing {
  margin: 60px 0;
  p + h4 {
  margin-top: 28px;
  }
}

.img-polaroid{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 10em;
  height: 10em;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


