// import the CSS framework
@import "bootstrap";
@import "bootstrap-responsive";

ul.nav
{
list-style-type:none;
margin:3em;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
a
{
display:block;
width:4em;
}

a.btn.btn-primary {
  color: white;
  background-color: rgb(0, 68, 204);	
}



